<script setup lang="ts">
import AuthService from '../services'
import { ref, onBeforeMount } from 'vue'
import { useRoute } from 'vue-router';
import Session from '../components/Session.vue';
import router from '@/router';

const route = useRoute()

const isAdmin = ref(false);

let axiosConfig = {
    headers: {
        Authorization: ""
    }
}

onBeforeMount(() => {
    if (!AuthService.isAuthenticated()) {
        if (typeof route.query.t === "undefined") {
            handleUnauthorizedAccess();
            return;
        }

        try {
            AuthService.setToken(route.query.t);
        } catch {
            handleUnauthorizedAccess();
            return;
        }
    }

    isAdmin.value = AuthService.getUserGroup() === 'SuperUser';
    axiosConfig.headers.Authorization = "Bearer " + AuthService.getToken();
    router.push('/dashboard');
});

function handleUnauthorizedAccess() {
    console.log('Fehlerhafter JWT Token');
    AuthService.logout();
    router.push('/');
};

</script>
<template>
    <div class="container pt-4">
        <div class="row">
            <div class="col-lg-8 col-12 mb-4">
                <Session :axiosConfig="axiosConfig" />
            </div>
            <div class="col-lg-4 col-12 mb-5">
                <div class="card mb-4 bg-warning" v-if="isAdmin">
                    <div class="card-body">
                        Sie sind als Super-User angemeldet. Erfahren Sie <a
                            href="https://gitlab.com/gns3aas/tbz-manual/-/blob/main/GruppeAutorisieren.md?ref_type=heads"
                            target="_blank">hier</a>
                        wie Sie den Zugang für Ihre Klassen aktivieren können.
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <b>Hilfe-Ressourcen</b>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a
                                href="https://gitlab.com/ch-tbz-it/Stud/allgemein/tbzcloud-gns3/-/tree/main/02_Bedienungsanleitung"
                                target="_blank">GitLab
                                - TBZ Cloud - GNS3</a>
                        </li>
                        <li class="list-group-item"><a href="https://docs.gns3.com/docs/"
                                target="_blank">GNS3-Dokumentation</a></li>
                    </ul>
                </div>
                <div class="card mt-4">
                    <div class="card-header">
                        <b>Session-Retetion-Policy</b>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Sessions werden jeweils 04:00 Uhr automatisch gestoppt.</li>
                        <li class="list-group-item">Sessiondaten bleiben nach Stop erhalten.</li>
                        <li class="list-group-item">Sessions werden jeweils am Sonntag vor (schulischem) Quartalsbeginn
                            unwiederruflich
                            gelöscht.</li>
                        <li class="list-group-item">Kein automatisches Backup der Sessions</li>
                        <li class="list-group-item"><i>Node failure</i> hat Datenverlust zur Folge</li>
                        <li class="list-group-item">Wichtige Projekte sind immer selbstständig zu sichern.<br />
                            <i>GNS3-GUI: File =>
                                Export
                                portable project</i>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</template>
