<script setup lang="ts">
import Login from '../components/Login.vue'
</script>

<template>
  <div class="container text-center mt-5">
    <div class="logo d-flex justify-content-center align-items-end">
      <h1 class="display-4 fw-bold text-body-emphasis">
        TBZ CLOUD GNS3
      </h1>
    </div>

    <div class="col-lg-7 mx-auto mt-4">
      <p class="lead mb-5">Über diese Plattform können Lernende an der Technischen Berufssschule Zürich schnell und
        unkompliziert eine persönliche GNS3-Instanz in der TBZ Cloud starten. </p>
    </div>
    <main>
      <Login />
    </main>
    <div class="overflow-hidden border-bottom mx-5 d-none d-sm-block mb-4" style="max-height: 28vh;">
      <div class="container px-5 ">
        <img src="/media/hero-img.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700"
          height="500" loading="lazy">
      </div>
    </div>
  </div>
  <div class="container px-5">
    <div class="row mt-5">
      <div class="text-center mb-5">
        <h3>Das ist die TBZ Cloud GNS3</h3>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card bg-dark text-white overflow-hidden" style="max-height: 500px;">
          <img src="\media\TBZC_server_client.png" class="card-img" alt="...">
          <div class="card-img-overlay p-5 w-75">
            <h5 class="card-title">GNS3 Server</h5>
            <p class="card-text lead">Lernende der TBZ erhalten in der TBZ Cloud jederzeit eigenständig Zugriff auf GNS3
              Server.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card bg-dark text-white overflow-hidden" style="max-height: 500px;">
          <img src="\media\TBZC_remote-work.png" class="card-img" alt="...">
          <div class="card-img-overlay p-5">
            <h5 class="card-title">Remote-Work</h5>
            <p class="card-text lead">Im eigenen Tempo an jedem Ort Netzwerk-Übungen lösen. Dank einer Remote-Verbindung
              zur
              TBZ Cloud ist dies für die Lernenden der TBZ möglich.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card bg-dark text-white overflow-hidden" style="max-height: 500px;">
          <img src="\media\TBZC_part-of.png" class="card-img" alt="...">
          <div class="card-img-overlay p-5">
            <h5 class="card-title">Teil der TBZ Cloud</h5>
            <p class="card-text lead">Die GNS3-Umgebung ist Teil des Ökosystems der TBZ Cloud, welche virtuelle
              Lernumgebungen-Umgebungen zur Verfügung stellt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
