<template>
  <div class="container text-center mt-5 col-lg-6 mx-auto">
    <div class="inner-container-small">
      <h1> Es wurde nun ein Login-Link an Ihre E-Mail-Adresse gesendet.</h1>
    </div>
  </div>
</template>
