<script setup lang="ts">
import DocumentationIcon from './icons/IconDocumentation.vue'
import ToolingIcon from './icons/IconTooling.vue'
import EcosystemIcon from './icons/IconEcosystem.vue'
import CommunityIcon from './icons/IconCommunity.vue'
import SupportIcon from './icons/IconSupport.vue'
import AuthService from '../services'
import { ref, onMounted, onBeforeMount } from 'vue'
import axios from 'axios'
import { useRouter, useRoute } from 'vue-router'

const router = useRouter();
const emailAddress = ref('');
const checked = ref(false);
const validationError = ref(false);
const isAuthenticated = ref(false);

onBeforeMount(() => {
  isAuthenticated.value = AuthService.isAuthenticated();
});

function executeLogin() {
  if (checked.value === true) {
    axios.post(import.meta.env.VITE_API_URL + "/login", {
      email: emailAddress.value
    }).then((r) => {
      console.log(r);
      router.push('postLogin');
    }).catch((e) => {
      if (e.response) {
        console.log(e.response.data.message);
      }
    })
  } else {
    validationError.value = true;
  }
}

</script>

<template>
  <div v-if="!isAuthenticated">
    <div class="form-check form-check-inline mb-4">
      <input class="form-check-input" :class="{ 'is-invalid': validationError }" type="checkbox" id="checkbox"
        v-model="checked" />
      <label class="form-check-label" for="checkbox">Ich akzeptiere die <a
          href="https://gitlab.com/gns3aas/tbz-manual/-/blob/main/Nutzungsrichtlinie.md">Nutzungsrichtlinie</a></label>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <div class="form-floating w-50 is-invalid">
        <input type="email" v-model="emailAddress" class="form-control" id="floatingInput"
          placeholder="name@example.com">
        <label for="floatingInput">Ihre TBZ-E-Mail-Adresse</label>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
      <button type="button" @click="executeLogin" class="btn btn-primary btn-lg px-4">Zugang erhalten</button>
    </div>
  </div>
  <div class="mb-5" v-else>
    <RouterLink class="btn btn-primary btn-lg px-4" to="/dashboard">Dashboard öffnen</RouterLink>
  </div>
</template>
