<script setup lang="ts">
import axios from 'axios';
import router from '@/router';
import Loader from './Loader.vue';
import AuthService from '../services'
import { ref, onMounted } from 'vue'

const props = defineProps(['axiosConfig'])
const sessionState = ref('NONE');
const sessionId = ref(null);
const gns3Version = ref(null);
const serverMessage = ref('');
const openVPNConfig = ref(null);
const wireguardConfig = ref(null);
const activeNodeName = ref(null)
const configOpenVPNDownloaded = ref(false);
const configWireguardDownloaded = ref(false);

onMounted(() => {
  checkSession()
});

function checkSession() {
  axios.get(import.meta.env.VITE_API_URL + '/session', {
    headers: {
      Authorization: props.axiosConfig.headers.Authorization
    }
  })
    .then((r) => {
      sessionId.value = r.data.id;
      sessionState.value = r.data.state;
      serverMessage.value = r.data.message;
      gns3Version.value = r.data.gnS3Version;
      activeNodeName.value = r.data.activeNodeName;
      openVPNConfig.value = r.data.openVPNConfiguration;
      const encodedLines = r.data.wireguardVPNConfig.split("\n");

      const decodedLines = encodedLines.map((line: any) => {
        // Check if the line is not empty to avoid decoding empty lines
        if (line.trim() !== "") {
          return atob(line);
        }
        return ""; // Return an empty string or handle as needed
      });
      wireguardConfig.value = decodedLines;
    }).catch((e) => {
      if (e.response) {
        if (e.response.status === 401) {
          AuthService.logout();
          router.push('/');
          return;
        }

        if (e.response.status === 404) {
          sessionState.value = 'NONE';
        }
      }
    })
}

function createSession() {
  checkSession()
  if (sessionState.value === 'NONE') {
    axios.post(import.meta.env.VITE_API_URL + '/session/create', {}, {
      headers: {
        Authorization: props.axiosConfig.headers.Authorization
      }
    })
      .then((r) => {
        pollView();
      })
  }
}

function startSession() {
  checkSession()
  if (sessionState.value === 'IDLE') {
    axios.post(import.meta.env.VITE_API_URL + '/session/start/' + sessionId.value, {}, {
      headers: {
        Authorization: props.axiosConfig.headers.Authorization
      }
    })
      .then((r) => {
        sessionState.value = 'START_REQUESTED';
        pollView();
      })
  }
}

function endSession() {
  checkSession()
  if (sessionState.value === 'RUNNING') {
    axios.post(import.meta.env.VITE_API_URL + '/session/stop/' + sessionId.value, {}, {
      headers: {
        Authorization: props.axiosConfig.headers.Authorization
      }
    })
      .then((r) => {
        sessionState.value = 'STOP_REQUESTED';
        pollView();
      })
  }
}

function pollView() {
  checkSession();
  console.log(sessionState.value);
  if (sessionState.value == 'START_REQUESTED'
    || sessionState.value == 'STOP_REQUESTED'
    || sessionState.value == 'STARTING'
    || sessionState.value == 'STOPPING') {
    setTimeout(pollView, 3000);
  }
}

function downloadOpenVPN() {
  configOpenVPNDownloaded.value = true;
  let currentDate = new Date();
  let formattedDate = currentDate.toISOString().split('T')[0];
  const blob = new Blob([openVPNConfig.value as unknown as BlobPart], { type: 'text/plain' });
  const a = document.createElement('a');
  a.download = activeNodeName.value + '_' + formattedDate + '.ovpn';
  a.href = URL.createObjectURL(blob);
  a.dataset.downloadurl = ['text/plain', a.download, a.href].join(':');
  a.style.display = "none";
  document.body.appendChild(a);
  a.click();
  document.body.removeChild(a);
  setTimeout(function () { URL.revokeObjectURL(a.href); }, 1500);
}

function downloadWireguard(userNum: any) {
  configWireguardDownloaded.value = true;
  const blob = new Blob([wireguardConfig.value![userNum] as unknown as BlobPart], { type: 'text/plain' });
  const a = document.createElement('a');
  a.download = "TBZ-Cloud" + "-" + userNum + '.conf';
  a.href = URL.createObjectURL(blob);
  a.dataset.downloadurl = ['text/plain', a.download, a.href].join(':');
  a.style.display = "none";
  document.body.appendChild(a);
  a.click();
  document.body.removeChild(a);
  setTimeout(function () { URL.revokeObjectURL(a.href); }, 1500);
}

</script>
<template>
  <Transition name="fade" mode="out-in">
    <div class="" v-if="sessionState == 'NONE'">
      <div class="col d-flex align-items-start">
        <div
          class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="bi bi-box-seam"></i>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Keine Sitzung vorhanden.</h3>
          <p>Aktuell existiert keine Sitzung. Die Erstellung einer Sitzung stellt die grundlegende Voraussetzung dar,
            damit
            Benutzerdaten zugeordnet werden können.</p>
          <a href="#" class="btn btn-primary" @click="createSession">
            Sitzung erstellen
          </a>
        </div>
      </div>
    </div>
  </Transition>
  <Transition name="fade" mode="out-in">
    <div class="" v-if="sessionState == 'START_REQUESTED' || sessionState == 'STARTING'">
      <div class="col justify-content-center text-center bg-body-secondary rounded-4 p-4">
        <Loader></loader>
        <h4 class="mt-5">Sitzung wird gestartet...</h4>
      </div>
    </div>
  </Transition>
  <div class="" v-if="sessionState == 'STOP_REQUESTED' || sessionState == 'STOPPING'">
    <div class="col justify-content-center text-center bg-body-secondary rounded-4 text-light p-4">
      <Loader></loader>
      <h4 class="mt-5">Sitzung wird beendet...</h4>
    </div>
  </div>
  <div class="" v-if="sessionState == 'IDLE'">
    <div class="col d-flex align-items-start">
      <div
        class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <i class="bi bi-stop-circle"></i>
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis">Gestoppte Sitzung</h3>
        <p>Sitzungs-ID: {{ sessionId }}</p>
        <a href="#" class="btn btn-primary" @click="startSession">
          Sitzung starten
        </a>
      </div>
    </div>
  </div>
  <div v-if="sessionState == 'BROKEN'">
    <div class="bg-danger rounded-4 text-light p-4">
      <div class="col d-flex align-items-start">
        <div
          class="icon-square bg-light text-danger d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="bi bi-emoji-dizzy-fill"></i>
        </div>
        <div>
          <h3 class="fs-2 ">Sitzung defekt!</h3>
          <p class="lead">Dies hätte nicht passieren sollen! Die Sitzung {{ sessionId }} ist defekt. Bitte wenden Sie sich
            anhttp://localhost:8080/gns3/dashboard
            Ihre Lehrperson.</p>
          <p v-if="serverMessage"><b>Debug-Informationen:</b> {{ serverMessage }}</p>
        </div>
      </div>
    </div>
  </div>
  <div v-if="sessionState == 'RUNNING'">
    <div class="bg-dark rounded-4 text-light p-4">
      <div class="d-flex align-items-start">
        <div
          class="icon-square bg-success d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="bi bi-play-circle"></i>
        </div>
        <div id="osInstructions" class="flex-shrink-1">
          <h3 class="fs-2 ">Aktive Sitzung</h3>
          <p>Session-ID: {{ sessionId }}<br />Node: {{ activeNodeName }}</p>
          <p class="lead mb-4">GNS3 Sitzung ist aktiv. Für GNS3-Server Zugriff ist eine VPN-Verbindung erforderlich.
          </p>
          <div>
            <div class="row">
              <p>Betriebssystem auswählen:</p>
            </div>
            <div class="d-sm-flex d-flex-none flex-column flex-sm-row">
              <div class="mb-3 os-selector me-3 d-flex align-items-center justify-content-start" data-bs-toggle="collapse"
                data-bs-target="#windows-instruction" data-parent="#osInstructions">
                <div
                  class="os-icon-big bg-white fg-black d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <i class="bi bi-windows"></i>
                </div>
                <h4>Windows</h4>
              </div>
              <div class="mb-3 os-selector d-flex justify-content-start align-items-center" data-bs-toggle="collapse"
                data-bs-target="#osx-instruction" data-parent="#osInstructions">
                <div
                  class="os-icon-big  bg-white fg-black d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <i class="bi bi-apple"></i>
                </div>
                <h4>macOS</h4>
              </div>
            </div>

          </div>
          <div>
            <div class="collapse" id="windows-instruction" data-bs-parent="#osInstructions">
              <ol>
                <li>
                  <div>
                    <p>Neue OpenVPN-Konfiguration herunterladen<br><i>Mehrere Benutzer können dieselbe
                        OpenVPN-Konfiguration verwenden.</i></p>
                    <a href="#" @click="downloadOpenVPN" class="btn btn-primary mb-3"
                      v-if="!configOpenVPNDownloaded">Download</a>
                  </div>
                </li>
                <li>
                  <p class="mb-0">OpenVPN-Konfiguration importieren und Verbindung starten</p>
                  <p class="small" data-bs-toggle="collapse" data-bs-target="#collapseVPNimport" aria-expanded="false"
                    aria-controls="collapseVPNimport">Mehr Details</p>
                  <div class="collapse" id="collapseVPNimport">
                    <div class="pr-4 mb-4">
                      <img class="rounded-3 img-fluid" src="/media/open_vpn_config.png">
                    </div>
                  </div>
                </li>
                <li>
                  <p class="mb-0">Im GNS3-Client IP-Adresse <span>192.168.23.1</span> als Server-Adresse verwenden</p>
                  <p class="small" data-bs-toggle="collapse" data-bs-target="#collapseGNSsettings" aria-expanded="false"
                    aria-controls="collapseGNSsettings">Mehr Details</p>
                  <div class="collapse" id="collapseGNSsettings">
                    <div class="">
                      <img class="rounded-3 mb-4 img-fluid" src="/media/edit_gns_settings_1.png">
                      <img class="rounded-3 img-fluid" src="/media/edit_gns_settings_2.png">
                    </div>
                  </div>
                </li>
              </ol>
            </div>
            <div class="collapse" id="osx-instruction" data-bs-parent="#osInstructions">
              <ol>
                <li>
                  <div>
                    <p>Wireguard-Konfiguration herunterladen<br><i>Nur einmal notwendig: Konfiguration bleibt nach
                        Session Neustart weiterhin gültig.<br /> Jeder User benötigt eine eigene Konfiguration.</i>
                    </p>
                    <div class="row">
                      <a class="col-3">
                        <a href="#" @click="downloadWireguard(0)" class="btn btn-primary mb-3">Download User 1</a>
                      </a>
                      <a class="col-3">
                        <a href="#" @click="downloadWireguard(1)" class="btn btn-primary mb-3">Download User 2</a>
                      </a>
                      <a class="col-3">
                        <a href="#" @click="downloadWireguard(2)" class="btn btn-primary mb-3">Download User 3</a>
                      </a>
                      <a class="col-3">
                        <a href="#" @click="downloadWireguard(3)" class="btn btn-primary mb-3">Download User 4</a>
                      </a>
                    </div>
                  </div>
                </li>
                <li>
                  <p class="mb-0">Wireguard-Konfiguration importieren und aktivieren</p>
                  <p class="small" data-bs-toggle="collapse" data-bs-target="#collapseVPNWireguardImport"
                    aria-expanded="false" aria-controls="collapseVPNWireguardImport">Mehr Details</p>
                  <div class="collapse" id="collapseVPNWireguardImport">
                    <div class="pr-4 mb-4">
                      <img class="rounded-3 mb-4 img-fluid" src="/media/import-wireguard.jpg">
                    </div>
                  </div>
                </li>
                <li>
                  <p class="mb-0">Im GNS3-Client IP-Adresse <span>192.168.23.1</span> als Server-Adresse verwenden</p>
                  <p class="small" data-bs-toggle="collapse" data-bs-target="#collapseGNSsettings2" aria-expanded="false"
                    aria-controls="collapseGNSsettings2">Mehr Details</p>
                  <div class="collapse" id="collapseGNSsettings2">
                    <div class="">
                      <img class="rounded-3 mb-4 img-fluid" src="/media/edit_gns_settings_1.png">
                      <img class="rounded-3 img-fluid" src="/media/edit_gns_settings_2.png">
                    </div>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-dark rounded-4 text-light p-4 mt-4">
      <div class="col d-flex align-items-start">
        <div
          class="icon-square bg-danger d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <i class="bi bi-pause-circle"></i>
        </div>
        <div>
          <h3 class="fs-2 ">Sitzung beenden</h3>
          <p class="lead mb-4">Bitte Sitzung nach Unterrichtsende beenden. Die GNS3-Projekte bleiben bis zum nächsten
            Sitzungsstart erhalten.
          </p>
          <a href="#" class="btn btn-danger" @click="endSession">
            Sitzung beenden
          </a>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <h4 class="mb-4 mb-sm-4">Weitere Downloads</h4>
      <div class="row">
        <div class="col-12 col-sm-4 mb-4 align-items-stretch">
          <div class="card download-app-card">
            <div class="card-body">
              <h6><b>Open-VPN-Client</b></h6>
              <p class="card-text">Windows</p>
            </div>
            <div class="card-footer">
              <a href="https://openvpn.net/community-downloads" target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 mb-4 align-items-stretch">
          <div class="card download-app-card">
            <div class="card-body">
              <h6><b>Wireguard-Client</b></h6>
              <p class="card-text">Linux, macOS, Windows</p>
            </div>
            <div class="card-footer">
              <a href="https://www.wireguard.com/install/" target="_blank" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 align-items-stretch">
          <div class="card download-app-card">
            <div class="card-body">
              <h6><b>GNS3-Client</b></h6>
              <p class="card-text">Für diese Sitzung wird GNS3 in der Version {{ gns3Version }} benötigt.</p>
            </div>
            <div class="card-footer">
              <a :href="'https://github.com/GNS3/gns3-gui/releases/tag/v' + gns3Version" target="_blank"
                class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
