@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
  background: #f7f7f7;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
}

.header{
  padding: 20px 0px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 20px;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}


.os-icon-big {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}


.bg-white {
  background-color: white;
}

.fg-black {
  color: black;
}

.os-selector:not(.collapsed) > div {
  background-color: blue !important;
  color: white !important;
}

.download-app-card {
  min-height: 170px;
}

footer {
  color: darkgrey;
}

footer a {
  color: darkgrey;
  text-decoration: none;
}

.footer {
  text-align: center;
}
