<script setup lang="ts">
import { onBeforeMount, ref } from 'vue';
import AuthService from './services'
import { RouterLink, RouterView } from 'vue-router'
import router from './router';

let isAuthenticated = ref(false);

onBeforeMount(() => {
  isAuthenticated.value = AuthService.isAuthenticated();
});

function logout() {
  AuthService.logout();
  router.push('/');
}
</script>

<template>
  <div class="navbar border-bottom mb-3">
    <div class="container justify-content-center flex-column justify-content-sm-between flex-sm-row">
      <a class="navbar-brand">
        <img src="/media/TBZ-Cloud-BIG.png" height="70" class="pl-5">
      </a>
      <div class="d-flex flex-column flex-sm-row ">
        <a class="text-decoration-none text-reset ms-4" href="https://cloud.edu.tbz.ch">TBZ Cloud</a>
        <a class="text-decoration-none text-reset ms-4" href="https://tbz.ch">Technische Berufssschule Zürich</a>
        <a class="text-decoration-none text-reset ms-4" v-if="isAuthenticated" @click="logout" href="#">Abmelden</a>
      </div>
    </div>
  </div>

  <RouterView />
</template>

<style scoped>
header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
